body {
    display: grid;
    grid-template-rows: 10vh 6fr 2fr;
    grid-template-columns: 2fr 6fr 2fr;
}

ul {
    margin: 0 auto;
    width: 80%;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgb(192, 192, 192);

}

header {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    width: 80%;
}

h1 {
    font-family: 'Rokkitt', serif;
}

#submit {
    font-size: 2vh;
    margin: 0 auto;
}

.result {
    color: white;
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size: 4vh;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    grid-row: 3/4;
    grid-column: 2/3;
}

.friend {
    background-color: green;
}


.notFriend {
    background-color: red;
}